{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>LOGIN</h1>
<form action="" class="form" method="post">
    <div class="form-group"> 
        <label for="username" class="form-label">Username</label> 
        <input type="text" name="username" required class="form-control"> 
    </div> 
    <div class="form-group"> 
        <label for="password" class="form-label">Password</label> 
        <input type="password" name="password" required class="form-control"> 
    </div> 
    <div class="form-group"> 
        <br>
        <input type="submit" value="Login" class="btn btn-primary"> 
    </div> 
</form>
    <br>
    <a href="{{ url_for("signup" ) }}">Create Account?</a>
{% endblock %}