{% extends "index.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<h2>Signup</h2>
<form action="" class="form" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required  class="form-control">
    </div>
    <div class="form-group"
        <label for="email" class="form-label">Email ID:</label>
        <input type="text" id="email" name="email" required class="form-control">
    </div>    
    <div class="form-group"
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" required class="form-control">
    </div> 
    <div class="form-group"
        <label for="confirm_password" class="form-label">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required class="form-control">
    </div>  

    <div class="form-group"
        <label for="dob" class="form-label">Date of Birth</label>
        <input type="date" id="date" name="dob" required class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button> 
</form>
    <div>
        <a href="{{ url_for('login') }}">Login here</a>
    </div>
{% endblock %}
